---
import Section from "../Section.astro";
import Mail from "@/icons/Mail.astro";
import GitHub from "@/icons/GitHub.astro";
import Webpage from "@/icons/webpage.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Phone from "@/icons/Phone.astro";
import WorldMap from "@/icons/WorldMap.astro";
import { basics } from "@cv-ge";
const { name, image, url, location, phone, email, profiles } = basics;
const { region, city } = location;

interface Props {
  label: string;
  english: boolean;
}

const { label, english } = Astro.props;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
};

const linkedinUrl = profiles
  .find(({ network }) => network === "LinkedIn")
  ?.url.split("w.")[1];
const formatedUrl = url.split("w.")[1];
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2 class="label">{label}</h2>
      <span>
        <WorldMap />
        {city}, {region}
      </span>
      <footer class="print print-info">
        -Mail: {email}
        <br /> -Tel: {phone}
        <br /> -Website: {formatedUrl}
        <br />-Linkedin: {linkedinUrl}
      </footer>
      <footer
        class="no-print"
        id="contact-buttons"
        contact-info={JSON.stringify({ email, phone })}
      >
        {
          email && (
            <button id="copyEmail" type="button" title={`Copiar Email`}>
              <Mail title={english ? `Copy Email` : `Copiar Email`} />
            </button>
          )
        }
        {
          phone && (
            <button id="copyTel" type="button" title={`Copiar ${phone}`}>
              <Phone title={english ? `Copy ${phone}` : `Copiar ${phone}`} />
            </button>
          )
        }
        {
          (
            <a
              href={url}
              title="Ir a pagina web"
              target="_blank"
              rel="noopener noreferrer"
            >
              <Webpage title="Ir a pagina web" />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
                href={url}
                title={`Visitar a ${username} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>

<script>
  const contactButtons = document.getElementById("contact-buttons");
  const contactInfo = contactButtons?.getAttribute("contact-info") || "[]";
  const { email, phone } = JSON.parse(contactInfo);

  document.getElementById("copyEmail")?.addEventListener("click", function () {
    const emailToCopy = email || "sebastiandevmm@gmail.com";
    navigator.clipboard
      .writeText(emailToCopy)
      .then(() => {
        alert(
          `✉️ Email copiado: ${emailToCopy}\n✉️ Copied email: ${emailToCopy}`
        );
      })
      .catch((err) => {
        console.error("Error al copiar el email: ", err);
        alert("Error al copiar el email");
      });
  });

  document.getElementById("copyTel")?.addEventListener("click", function () {
    const phoneToCopy = phone || "+57 300-222-6417";
    navigator.clipboard
      .writeText(phoneToCopy)
      .then(() => {
        alert(`Telefono copiado: ${phoneToCopy}\nCopied phone: ${phoneToCopy}`);
      })
      .catch((err) => {
        console.error("Error al copiar el phone: ", err);
        alert("Error al copiar el phone");
      });
  });
</script>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  @media only screen and (max-width: 767px) {
    /* Estilos específicos para teléfonos */
    .container {
      flex-direction: column-reverse;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  h1 {
    font-size: 2rem;
  }

  .label {
    font-family: Menlo, Monaco, "Lucida console", "Courier New", Courier,
      monospace;
    color: #666;
    font-weight: 600;
    font-size: 1.1rem;
    text-wrap: balance;
  }

  .print-info {
    color: #666;
  }

  span {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
  }

  footer {
    font-size: 0.8rem;
    display: flex;
    gap: 4px;
    margin-top: 8px;
  }

  footer a {
    color: #777;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 4px;
    width: 32px;
    height: 32px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }

  footer button {
    color: #777;
    cursor: pointer;
    background: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 6px;
    padding: 4px;
    width: 32px;
    height: 32px;
    transition: all 0.3s ease;
  }

  footer button:hover {
    background: #eee;
    border: 1px solid #ddd;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 130px;
    border-radius: 16px;
  }
</style>
